* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

/* .vertical-line {
width: 1px;
height: 4420px;
background: #E6E6E6;
} */

.header {
    min-height: 50px;
    /* background: #222222; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 399px;
    margin-top: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img {
    width: 34px;
    height: 34px;
}

.logo-text {
    color: #292F36;
    /* font-family: DM Serif Display; */
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;   
}

.menubar {
    display: flex;
    justify-content: flex-end;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}
.banner {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.banner-img {
margin-top: 70px;
border-radius: 70px;
}

.intro {
    position: absolute;
    max-width: 434px;
    max-height: 342px;
    margin-left: 50px;
    display: flex;
    justify-content: start;
    gap: 18px;
    flex-direction: column;
}
.intro-title {
    color: #292F36;
    /* font-family: DM Serif Display; */
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.intro-subtitle {
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}

.intro-buttom {
    width: 220px;
    height: 75px;
    display: flex;
    /* padding: 26px 49px 26px 48px; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 18px;
    background: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
.intro-buttom-text {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
}
.project {
    margin-top: 90px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.top-left {
    border-radius: 0 90px 0 0;
}
.top-right {
    border-radius: 90px 0 0 0;
}
.bottom-left {
    border-radius:  0 0 90px 0;
}
.bottom-right {
    border-radius: 0 0 0 90px;
}

.heading {
    margin-bottom: 93px;
    max-width: 747px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    gap: 8px;
}

.heading-title {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
}

.heading-subtitle {
    color: #4D5053;
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}

.project-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, 550px);
    gap: 100px;
}

.project-block_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.project-title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
}

.project-subtitle {
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}

.counter {
    height: 457px;
    background-color: #F4F0EC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
}

.counter-block {
    display: flex;
    gap: 76px;
    justify-content: center;
}
.line {
    width: 1px;
    height: 130px;
    background: #CDA274;
}

.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.counter-number {
    color: #CDA274;
    font-family: DM Serif Display;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 106.25px */
    letter-spacing: 1.7px;
    
}

.counter-text {
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}

.blog {
    margin-bottom: 96px;
}

.blog-items {
    display: flex;
    justify-content: center;
    gap: 27px;
}

.blog-item {
    display: inline-flex;
    padding: 21px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    position: relative;
}
.blog-img {
    border-radius: 43px 43px 0 0;
}

.blog-text {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
    margin-top: 21px;
    margin-bottom: 30px;
}

.date-title {
    color: #4D5053;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
}

.blog-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-button {
    height: 50px;
}

.item-colour {
    background-color: #F4F0EC;
}

.button-white {
    color: #FFF;
}

.tag {
    width: 124px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8px 8px 8px 0px;
    background: #FFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 249px;
    left: 51px;
    align-items: center;
}

.tag-text {
    color: #4D5053;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 135px;
}

.footer-title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
}

.footer-text {
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 300%; /* 66px */
    letter-spacing: 0.22px;
}

.footer-pages, .footer-contacts, .footer-logo {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: start;
    gap: 54px;
    margin-top: 30px;
}

.icon {
    width: 30px;
}